@using S_cart.Models;

@{    
    string type = (string)ViewData["type"];
    string pagetitle = "";    
}

<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="~/Content/Judy.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>

<body>
    @{
        <ul>
            <li>@Html.ActionLink("The .NET Shop", "Search", "Gallery", new { type = "gallery" }, new { })</li>
            <li>@Html.ActionLink("Logout", "Login", "Login")</li>
            <li>@Html.ActionLink("My Purchases", "MyPurchases", "MyPurchases", new { type = "mypurchases" }, new { })</li>
            <li>
                <a href="@Url.Action("ViewCart", "ViewCart", new RouteValueDictionary (new { type = "viewcart" }))" title="View Cart" class="links">
                    <img alt="View Cart" src="@Url.Content("~/Images/shopping_cart_PNG4.png")" height="25">
                    <span> <input style="font-family: Verdana; font-weight:bold;font-size:16px;color:white;background:#117A65; border:none" size="1" type="text" id="quantity" name="quantity" value="0" /> </span>
                </a>
            </li>
        </ul>

        @Html.Partial("_Greeting")

        //Request.QueryString gets parameter from URL
        var page = Request.QueryString["type"];

        
        if (page == "gallery")
        {
            pagetitle = "Products";
        }

        else if (page == "viewcart")
        {
            pagetitle = "View Cart";
        }

        else if (page == "mypurchases")
        {
            pagetitle = "My Purchases";
        }

        <h3>@pagetitle</h3>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The .NET Shop</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
