@{
    ViewBag.Title = "MyPurchases";
}

@model S_cart.Models.Purchase
@using S_cart.Models;

        @foreach (Purchase item in ViewBag.list)
        {
            <div class="productlist">
                <div class="productimage"><img src="@item.image" height="200" width="200" /></div>
                    <span><input type="hidden" name="productid" value="@item.productid" /><br /></span>
                    <span><input type="text" name="productname" value="@item.product_name" /><br /></span>
                    <span><textarea name="description" rows="2" wrap="soft" cols="65" value="@item.productdesc">@item.productdesc</textarea><br /><br /></span>
            </div>
                <form class="products">
                    <div class="description">
                        <span><input type="hidden" name="productid" value="@item.productid" /><br /></span>
                        <span><input type="text" name="productname" value="@item.product_name" /><br /></span>
                        <span><textarea name="description" rows="2" wrap="soft" cols="65" value="@item.productdesc">@item.productdesc</textarea><br /><br /></span>
                    </div>
                </form>
        }




                @*<tr align="center" style="text-align:center; font-size:large">
                    <td><img src="@item.image" height="200" width="200" /></td>
                    <td>Purchased On:</td>
                    <td>@item.purchasedate</td>
                </tr>
            </div>


            <tbody class="blue">
                <tr>
                    <td>@item.product_name</td>
                    <td>Quantity:</td>
                    <td>@item.quantity</td>
                </tr>
                <tr>
                    <td>@item.productdesc</td>
                    <td>Activation code:</td>
                    <td>[Activation code]</td>
                </tr>
            </tbody>
        }*@
