
@{
    /**/

    ViewBag.Title = "Search";
}

@model S_cart.Models.product
@using S_cart.Models;
@*@{
    string u1 = (string)ViewData["user"];
}*@

@*<div><h3>Welcome @u1</h3></div>*@


@{
    @*<table align="center" cellpadding="15" style="text-align:center">
        <tr align="center" style="text-align:center; font-size:large">
            <th>
                Product_id
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (product item in ViewBag.list)
        {
            <tr>
                <td>@item.product_id</td>
                <td>@item.name</td>
                <td><img src="@item.url" height="200" width="200" /></td>
                <td>@item.description</td>
                <td>@item.price</td>
                @*<td>
                        <span>Quantity</span>
                        <input type="number" value="1"/>
                    </td>*@
                @*<td>
                    <input type="submit" value="ADD TO CART" id="@item.product_id" class="add_to_cart" />
                </td>
            </tr>
        }

    </table>*@

    @*foreach (product item in ViewBag.list)
    {
        <div class="grid-container">
            <div>
                <img src="@item.url" height="200" width="200" />
                <div>
                    <span>@item.name</span><br />
                    <span>@item.description</span>
                </div>
                <div>@item.price $ </div>
            </div>
        </div>
    }*@
        
            foreach (product item in ViewBag.list)
            {
        <div class="item">
            <div class="image"> <img src="@item.url" height="200" width="200" /></div>
            <div class="description">
                <span><b>@item.name </b><br /></span>
                <span><em>@item.description</em><br /></span>
            </div>
            <div class="price"><b>$@item.price </b><br /></div>
            <div class="button"><button class="add_to_cart">Add To Cart</button></div>
            
        </div>
            }

            }
            <style>
                /*.grid-container {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 10px;
                }

                    .grid-container > div {
                        background-color: rgba(255, 255, 255, 0.8);
                        text-align: center;
                        padding: 10px 0;
                        font-size: 5px;
                    }*/

                .item {
                    width: 100%;
                    height: 250px;
                    margin: 80px auto;
                    background: #FFFFFF;
                    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);
                    border-radius: 10px;
                    display: flex;
                    /*flex-direction: column;*/
                }

                .image {
                    margin-left: 80px;
                    margin-right: 50px;
                    
                }

                .description {
                    width: 550px;
                    height: auto;
                    text-align:left;
                    margin: 80px auto;
                    background: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                }

                    .description span:last-child {
                        font-weight: 300;
                        margin-top: 8px;
                        color: #86939E;
                    }

                .price {
                    width: auto;
                    height: auto;
                    font-size:18px;
                    margin: 80px auto;
                    background: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                }

                .button {
                    width: auto;
                    height: auto;
                    margin: 80px auto;
                    background: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                }

                button[class*=add_to_cart] {
                    width: 100px;
                    height: 30px;
                    background-color: #E1E8EE;
                    border-radius: 6px;
                    font-family: Verdana;
                    border: none;
                    cursor: pointer;
                }

            </style>





















